.radHoverCss_Macromedia
{
	border: 0px;
	background-image: url(Img/over.gif);
	background-repeat: no-repeat;
	_background-attachment: fixed;
	height: 24px;
	width: 179px;
	color: #000000;
	font-family: Verdana, Arial, Tahoma, Sans-Serif;
	font-size: 10px;
	font-weight: normal;
	padding-top: 6px;
	padding-left: 6px;
	background-color: transparent;
	vertical-align: middle;
}
.radEnabledCss_Macromedia
{
	border: 0px;
	background-image: url(Img/default.gif);
	background-repeat: no-repeat;
	_background-attachment: fixed;
	height: 24px;
	width: 179px;
	color: #000000;
	font-family: Verdana, Arial, Tahoma, Sans-Serif;
	font-size: 10px;
	font-weight: normal;
	padding-top: 6px;
	padding-left: 6px;
	background-color: transparent;
	vertical-align: middle;
}
.radDisabledCss_Macromedia
{
	border: 0px;
	background-image: url(Img/default.gif);
	background-repeat: no-repeat;
	_background-attachment: fixed;
	height: 24px;
	width: 179px;
	color: Gray;
	font-family: Verdana, Arial, Tahoma, Sans-Serif;
	font-size: 10px;
	font-weight: normal;
	padding-top: 6px;
	padding-left: 6px;
	background-color: transparent;
	vertical-align: middle;
}

.radEmptyMessageCss_Macromedia
{
	border: 0px;
	background-image: url(Img/default.gif);
	background-repeat: no-repeat;
	_background-attachment: fixed;
	height: 24px;
	width: 179px;
	color: #bfbfbf;
	font-family: Verdana, Arial, Tahoma, Sans-Serif;
	font-size: 10px;
	font-weight: normal;
	padding-top: 6px;
	padding-left: 6px;
	background-color: transparent;
	vertical-align: middle;
}

.radFocusedCss_Macromedia
{
	border: 0px;
	background-image: url(Img/focus.gif);
	background-repeat: no-repeat;
	_background-attachment: fixed;
	height: 24px;
	width: 179px;
	color: #000000;
	font-family: Verdana, Arial, Tahoma, Sans-Serif;
	font-size: 10px;
	font-weight: normal;
	padding-top: 6px;
	padding-left: 6px;
	background-color: transparent;
	vertical-align: middle;
}

.radNegativeCss_Macromedia
{
	border: 0px;
	background-image: url(Img/default.gif);
	background-repeat: no-repeat;
	_background-attachment: fixed;
	height: 24px;
	width: 179px;
	color: #ff3333;
	font-family: Verdana, Arial, Tahoma, Sans-Serif;
	font-size: 10px;
	font-weight: normal;
	padding-top: 6px;
	padding-left: 6px; 
	background-color: transparent;
	vertical-align: middle;
}

.radInvalidCss_Macromedia
{
	border: 0px;
	background-image: url(Img/error.gif);
	background-repeat: no-repeat;
	_background-attachment: fixed;
	height: 24px;
	width: 179px;
	color: #000000;
	font-family: Verdana, Arial, Tahoma, Sans-Serif;
	font-size: 10px;
	font-weight: normal;
	padding-top: 6px;
	padding-left: 6px;
	background-color: transparent;
	vertical-align: middle;
}

.radLabelCss_Macromedia
{
	font-family: Verdana, Arial, Tahoma, Sans-Serif;
	color: #000000;
	padding-right: 5px;
	font-size: 10px;
}

/* input buttons */
.radInpButtonCss,
.radInpButtonCss_Macromedia a
{
    position: relative; top: 2px;
}

.radInpButtonCss_Macromedia img
{
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1; opacity: 1;
    border: 0;
}

.radInpButtonCss_Macromedia a:hover img
{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -moz-opacity: 0.5; 
    opacity: 0.5;
}

.radSpinUpCss_Macromedia a,
.radSpinDownCss_Macromedia a
{
	/**/
}

.radSpinUpCss_Macromedia a img,
.radSpinDownCss_Macromedia a img
{
	width: 7px; height: 4px;
	border: 0;
	position: relative;
	top: -4px;
	margin: 0 1px;
}

.radSpinUpCss_Macromedia a:hover img,
.radSpinDownCss_Macromedia a:hover img
{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	opacity: .5; -moz-opacity: .5;
}
/* end of input buttons */







