<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RMOriginatorDataService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RMOriginatorDataService.Properties.Settings>
            <setting name="WakeupTime" serializeAs="String">
                <value>09:00:00</value>
            </setting>
            <setting name="TimeOutLimit" serializeAs="String">
                <value>1.00:00:00</value>
            </setting>
            <setting name="TimeOutRate" serializeAs="String">
                <value>01:00:00</value>
            </setting>
        </RMOriginatorDataService.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="SqlConnectionString" value="server=192.168.20.6;uid=LoanStar;pwd=OpBemucNoic8;database=LoanStar;Connect Timeout=1000000;"/>
    <add key="LendingLimitUrl" value="http://www.hud.gov/pub/chums/cy2015-hecm-limits.txt"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
